<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/cart.js" type="text/javascript"></script>
  </head>
  <body>
  <div style="width:85%;margin: auto">
      <div style="float: left; width: 75%">
          <h3>Products</h3>
          <div id="products" style="">
              <div class="item">
                  <div class="name">Apple</div>
                  <div>Price: <span class="price">0.25</span></div>
                  <div class="pricerow">
                    <div><input ctype="text" value="1" class="qty"/></div>
                    <div><a id="action" href="javascript:;">Add to Cart</a></div>
                  </div>
              </div>
              <div class="item">
                  <div class="name">Oranges</div>
                  <div>Price: <span class="price">0.30</span></div>
                  <div class="pricerow">
                    <div><input type="text" value="1" class="qty"/></div>
                    <div><a id="action" href="javascript:;">Add to Cart</a></div>
                  </div>
              </div>
              <div class="item">
                  <div class="name">Banana</div>
                  <div>Price: <span class="price">0.15</span></div>
                  <div class="pricerow">
                    <div><input type="text" value="1" class="qty"/></div>
                    <div><a id="action" href="javascript:;">Add to Cart</a></div>
                  </div>
              </div>
              <div class="item">
                  <div class="name">Papaya</div>
                  <div>Price: <span class="price">0.50</span></div>
                  <div class="pricerow">
                    <div><input data-pack="3" data-promo="3for2" type="text" value="1" class="qty"/></div>
                    <div><a id="action" href="javascript:;">Add to Cart</a></div>
                  </div>
              </div>
          </div>
      </div>
      <div style="float: left; width:25%;">
        <div id="cart"></div>
      </div>
  </div>
  </body>
</html>
