body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.item { margin-top: 20px; float: left; min-width: 50%}
.name {
  font-weight:bold;}
input.qty { width: 20px;}
div.pricerow div {float: left; margin-right: 5px;}
div.item div {
  margin-bottom:10px;}
td {white-space: nowrap}
a {
  color: #00B7FF;
}
